.itemCard {
  padding: 5px;
}

.itemCard__container {
  display: block;
  overflow: hidden;
  width: var(--size);
  height: var(--size);
  box-shadow: var(--shadow--normal);
  font-size: calc(var(--size) * 0.16);
  background-color: var(--background);
  border-radius: 6px;
  flex-shrink: 0;
  flex-grow: 0;
}

.itemCard__img {
  display: block;
  width: 80%;
  margin: 5% 10%;
  margin-bottom: 0;
  aspect-ratio: 1;
}

.itemCard__caption {
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  transform: translateY(-0.5em);
  transition: var(--transition-fast);
}

.itemCard__container:hover {
  box-shadow: var(--shadow--high);

  .itemCard__caption {
    transform: translateY(calc(-100% + 1em));
    background-color: var(--background);
  }
}
